{% if site.twitter_user %}
<section>
  {% if site.twitter_follow_button %}
    <br/>
    <a href="https://twitter.com/{{site.twitter_user}}" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @{{site.twitter_user}}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% else %}
  <h1>Sígueme</h1>
  <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
  {% endif %}
  {% if site.stackoverflow_user_name %}
    <br/>
    <br/>
    <a class='stackoverflow' href="http://stackoverflow.com/users/{{site.stackoverflow_user_id}}/{{site.stackoverflow_user_name}}">
    <img src="http://stackoverflow.com/users/flair/{{site.stackoverflow_user_id}}.png?theme={{site.stackoverflow_theme}}" width="208" height="58" alt="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
  {% endif %}
</section>
{% endif %}
